//====================================================
//  Top Toolbar
//====================================================
.sheet-toolbar {
  border-bottom: none;
  box-shadow: none;
  min-height: 44px;
  max-height: 44px;

  .column-ThreadList & {
    background: @selected_bg_color;
    min-height: 40px;
    max-height: 40px;
  }

  .selection-bar {
    .absolute {
      background-color: @header;
      border-left: none;
      border-right: none;
      top: -1px;

      .inner {
        .centered {
          font-size: 15.5px;
          color: @sidebar_inactive_text;

          & + .btn-toolbar {
            background: @selected_bg_color;
            margin-right: 11px;
            height: 26px;
            color: @base_color;
            transition: background-color 100ms;

            &:hover {
              background: lighten(@selected_bg_color, 10%);
            }
          }
        }
      }
    }
  }
}

.sheet-toolbar-container {
  box-shadow: 0px 1px 0 0 @toolbar_border_top inset;

  & > * {
    margin-top: 5px;
  }
  &.mode-popout > * {
    margin-top: 5px;
  }
}

body.platform-linux,
body.platform-linux.is-blurred,
body.platform-win32,
body.platform-win32.is-blurred {
  & .sheet-toolbar-container {
    background: @header;
  }
}

body.platform-win32 .toolbar-activity,
body.platform-linux .toolbar-activity {
  margin-right: 15px;
}

//====================================================
//  Top Toolbar Buttons
//====================================================
.sheet-toolbar .btn-toolbar {
  background: transparent;
  box-shadow: none;
  border-radius: 2px;
  transition: all 200ms;
  margin-top: 6px;

  .layout-mode-list &,
  .layout-mode-splitVertical & {
    &:not(.item-compose) {
      margin-top: 8px;
    }
  }

  &.mode-toggle.mode-false {
    background: @selected_bg_color;
    transition: all 200ms;

    & img.content-mask {
      transition: all 200ms;
      background-color: @selected_fg_color;
    }
  }

  &:hover {
    background: @btn_hover_bg;

    & img.content-mask {
      background-color: @selected_fg_color;
    }
  }

  & img.content-mask {
    transition: all 200ms;
    background-color: @btn_fg;

    .layout-mode-splitVertical & {
      background-color: @selected_fg_color;
    }
  }
}
